# 1. 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

# 2. 데이터 불러오기

In [2]:
csData = pd.read_csv("../dataset/customerdata.csv", encoding="ms949")
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [3]:
csData.info() # csData의 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [7]:
csData.head() # csData의 상위 5개 행 (괄호 안에 숫자를 입력 안하면 기본적으로 5개를 보여줌)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [45]:
csDataEMI3 = csData.loc[csData.EMI >= 3] #EMI가 3이상인 행만 조회
csDataEMI3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [46]:
csData.shape # 150개의 행과 6개의 열

(150, 6)

In [48]:
csDataEMI3.shape # EMI가 3이상인 행은 19개임을 알 수 있다

(19, 6)

In [50]:
csData.loc[0:3] # 0부터 3까지의 인덱스인 행만 조회

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird

In [55]:
csData.loc[(csData.EMI >= 3) &(csData.AVGPRICE > 3500)] # EMI가 3이상이고 AVGPRICE가 3500보다 큰 행만 조회
# 조건이 여러 개일 경우 각 조건을 괄호로 감싸주고 and는 &를 , or는 |를 넣어준다.

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
33   G16437  3787.328898    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [63]:
inputId = "a13566"

In [64]:
csData.loc[csData.CUSTID.str.lower() == inputId.lower()] # 데이터프레임에서 .str을 써주면 대부분의 문자열 연산이 가능하다

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.9    3            6    1.679181  Big-Screen-lover

In [67]:
csData.EMI = csData.EMI.astype(str) # EMI열을 문자열로 변환하여 기존에 EMI행에 적용해줌

In [68]:
csData.dtypes

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [69]:
csData.EMI = csData.EMI.astype(int) # EMI열을 원래의 자료형으로 돌려줌
csData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [71]:
csData["EMI2"] = csData["EMI"].astype(float) #기존 EMI열을 실수형으로 바꿔 EMI2열을 새로 만듬
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[150 rows x 7 columns]

In [74]:
csDataType = csData.astype({"CUSTID":str, # 데이터프레임의 모든 열을 문자열로 바꿔줌
              "AVGPRICE":str,
              "EMI":str,
              "DEVICECOUNT":str,
              "PRODUCTAGE":str,
              "CUSTTYPE":str,
              "EMI2":str})
csDataType.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
EMI2           object
dtype: object

In [75]:
emiCondition = "3"
priceCondition = "3500"

In [80]:
csData2 = csData.loc[(csData.EMI.astype(str) >= str(emiCondition)) &     # 조건식으로 검색할 경우 잠시동안만 str형태로 변환하여 조건검색
                    (csData.AVGPRICE.astype(str) > str(priceCondition))]
csData2.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
EMI2           float64
dtype: object

In [84]:
testDf = ["A"]

In [87]:
answer1 = csData[ csData.CUSTID.isin(testDf) ] # testDf가 포함되어 있냐는 조건
answer2 = csData[ ~ csData.CUSTID.isin(testDf) ] # testDf를 포함하지 않느냐는 조건("~"를 쓰면 반대의 의미, not in)
answer1

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, EMI2]
Index: []

In [88]:
angryCustomer = pd.DataFrame(list(csData.CUSTID[0:3]),columns = ["CSID"])
#0부터 3컬럼 전까지를 하나의 리스트로 만들어주고 컬럼명을 "CSID"로 정의

In [96]:
angryList = list(angryCustomer.CSID)
#위에서 만든 리스트를 재정의

In [94]:
csData.loc[csData.CUSTID.isin(angryList)] #angryList를 포함한 경우

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0

In [95]:
csData.loc[~csData.CUSTID.isin(angryList)] #angryList를 포함하지 않은 경우

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog   2.0
6    B18816  3213.911446    2            6    0.900000        Early-bird   2.0
7    C10639  3516.500000    2            5    2.564830  Big-Screen-lover   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[147 rows x 7 columns]

In [97]:
specificIndex = [1,3]

In [99]:
answer1 = csData.loc[specificIndex] # 1,3행만 조회
answer1

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  EMI2
1  A14219  3642.441950    2            4    2.682023  Sleeping-dog   2.0
3  A16605  3713.211107    2            6    0.900000    Early-bird   2.0

In [101]:
answer2 = csData.loc[1:3] #1부터 3행까지만 조회
answer2

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  EMI2
1  A14219  3642.441950    2            4    2.682023  Sleeping-dog   2.0
2  A15312  3653.884565    2            5    3.208202  Sleeping-dog   2.0
3  A16605  3713.211107    2            6    0.900000    Early-bird   2.0

In [102]:
answer3 = csData.loc[:] # 3 전체행 조회
answer3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE  EMI2
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover   3.0
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog   2.0
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog   2.0
3    A16605  3713.211107    2            6    0.900000        Early-bird   2.0
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog   2.0
..      ...          ...  ...          ...         ...               ...   ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover   2.0
146  Z13534  3662.437527    3            6    0.900000        Early-bird   3.0
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover   2.0
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover   2.0
149  Z19835  3326.526183    2            6    1.200000        Early-bird   2.0

[150 rows x 7 columns]

# 3.리스트에서 데이터프레임 생성

In [9]:
productList = ["aProduct", "bPprodcut", "cProduct", "dProduct"]

In [13]:
priceList = [[1000,2000,3000,4000]]

In [14]:
pd.DataFrame(productList)

           0
0   aProduct
1  bPprodcut
2   cProduct
3   dProduct

In [15]:
pd.DataFrame(priceList)

      0     1     2     3
0  1000  2000  3000  4000

In [31]:
priceList = [1000,2000,3000,4000]

In [32]:
zipList = zip(productList, priceList)

In [33]:
productInfoDf = pd.DataFrame(zipList, columns=["productname","price"])
productInfoDf

  productname  price
0    aProduct   1000
1   bPprodcut   2000
2    cProduct   3000
3    dProduct   4000

In [36]:
productInfoDf.dtypes

productname    object
price           int64
dtype: object

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird