# 1. 라이브러리 선언

In [15]:
import pandas as pd

# 2. 공공데이터 (파일데이터 불러오기)

In [17]:
pirLirUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002340074&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EC%A3%BC%ED%83%9D%EA%B8%88%EC%9C%B5%EA%B3%B5%EC%82%AC_%EC%A7%80%EC%97%AD%EB%B3%84%20PIR%20%EB%B0%8F%20LIR"

In [19]:
indata = pd.read_csv(pirLirUrl, encoding="ms949")
indata.tail()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
190,2020,1,4.47,5.44,4.84,5.16,4.39,4.76,4.52,4.11,...,2.63,2.39,1.90,1.76,1.87,1.94,1.85,1.80,2.02,2.13
191,2020,2,4.45,5.02,5.04,4.92,4.49,4.52,4.36,3.90,...,2.69,2.34,1.96,1.87,1.89,1.83,1.68,1.69,1.91,2.07
192,2020,3,4.76,5.12,5.22,5.20,4.76,5.04,4.74,4.11,...,2.22,2.56,2.13,1.98,2.03,1.97,1.89,1.95,2.23,2.27
193,2020,4,4.83,4.95,5.67,5.91,4.78,5.41,5.40,4.44,...,1.73,2.54,2.13,2.09,2.14,2.11,1.94,1.97,2.06,1.85
194,2020,5,4.56,4.88,7.01,5.44,4.56,3.16,4.72,5.77,...,0.00,2.23,2.44,1.08,1.65,1.04,1.68,1.99,2.17,0.96

# 2번에 대한 실습 (공공데이터포털에서 한국감정원 오피스텔 동향조사 현황자료를 검색하여 데이터타입자료를 불러오세요)

In [ ]:
import pandas as pd
#패키지 임포트

url = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002312933&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EB%B6%80%EB%8F%99%EC%82%B0%EC%9B%90_%EC%98%A4%ED%94%BC%EC%8A%A4%ED%85%94%20%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9(%EC%9B%94%EB%B3%84)_20201014"
# 다운로드 링크를 url변수에 지정
indata = pd.read_csv(url, encoding="ms949")
# csv파일을 읽어올 링크와 인코딩 형식을 indata변수에 담음
indata
# 출력

# 국가통계포털 API데이터 불러오기 (횡단면 조회)

In [ ]:
import pandas as pd

url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=ZDBkZjU4MzlkOWQ3MDAzYTZkZDdhYjBjZDM0ZDE0MTY=&format=json&jsonVD=Y&userStatsId=hdk2006/101/DT_1B040A3/2/1/20210412145641&prdSe=M&newEstPrdCnt=1"
json = pd.DataFrame()
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

# 국가통계포털 API데이터 불러오기 (시계열 조회, 총인구수 * 서울특별시)

In [ ]:
import pandas as pd
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=ZDBkZjU4MzlkOWQ3MDAzYTZkZDdhYjBjZDM0ZDE0MTY=&format=json&jsonVD=Y&userStatsId=hdk2006/101/DT_1B040A3/2/1/20210412150415_1&prdSe=M&newEstPrdCnt=3"
json = pd.DataFrame()
try:
    json = pd.read_json(url)
except Exception as e:
    print(e)
json

# 1행 82500 2008
# 2행 72500 2010

In [38]:
columnList = [] 
rowList = []  # 리스트 선언

In [39]:
columnList.append("82500")
columnList.append("2008")  # 컬럼 리스트에 값 추가
rowList.append(columnList) # 로우 리스트에 컬럼리스트를 추가

In [40]:
columnList=[]  # 컬럼리스트 초기화
columnList.append("72500")
columnList.append("2010") #컬럼 리스트 값 추가
rowList.append(columnList)  # 로우 리스트에 컬럼리스트 추가

pd.DataFrame(rowList) # 출력

       0     1
0  82500  2008
1  72500  2010

In [41]:
pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\smart-20\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\smart-20\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=c0bc422d357093d8b975776ff47acabc53e7c5f2987206fd96626c8d161c300d
  Stored in directory: c:\users\smart-20\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import requests        # API 서비스에 연결
from lxml import html  # parse XML 사용
from bs4 import BeautifulSoup   # 정렬해주는 BeautifulSoup 사용
import pandas as pd

In [ ]:
url="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"
response = requests.get(url+queryParams)
response.encoding="utf-8"


xmlobj = BeautifulSoup(response.text,"lxml-xml") #parser
xmlobj

In [4]:
import requests        # API 서비스에 연결
from lxml import html  # parse XML 사용
from bs4 import BeautifulSoup   # 정렬해주는 BeautifulSoup 사용
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus,unquote

API_Key = 'AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D' # 서비스 키
url="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev" # 실질적인 url 주소
queryParams = '?' + urlencode({          # 아래 3가지 요소를 합한 값
    quote_plus('ServiceKey') : API_Key,  # ServiceKey
    quote_plus('LAWD_CD'): '11110',      # LAWD_CD
    quote_plus('DEAL_YMD'):'201512'      # DEAL_YMD
})

response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")
#response는 url?ServiceKey&pageNo=1&numOfRows=10(item의 규격)&LAWD_CD&DEAL_YMD 를 합한 값을 가져오는 변수
response.encoding='utf-8'     # response의 인코딩 형식 지정
pageSource = response.text
xmlobj = BeautifulSoup(pageSource,"lxml-xml") #태그와 내용을 모두 보여줌

rowList = []                    # 행 내용을 담을 빈 배열을 생성
columnList = []                 # 열 내용을 담을 빈 배열을 생성
rows = xmlobj.findAll('item')   # "items" 안에 모든 내용을 담을 rows라는 변수를 생성

for i in range(0, len(rows)): 
    columns = rows[i].findAll() # 하나의 "item"의 모든 내용을 담을 columns라는 변수를 생성
    
    for j in range(0, len(columns)):  
        columnValue = columns[j].text    # item의 태그를 제외한 내용만을 담는 columnValue생성
        columnList.append(columnValue)   # 내용들을 columnList에 추가함
    rowList.append(columnList)           # 하나의 "item"이 columnList에 추가가 완료 되면 하나의 행(rows)이 완성됨 
    columnList = []                      # 다음 "item"값들을 넣어주기 위해 columnList를 초기화
    
homePriceSeoul = pd.DataFrame(rowList)  # 만들어진 표를 homePriceSeoul 변수에 담음
homePriceSeoul                          # 출력

columnHead = []               #item의 태그만을 받아 제목으로 쓰기위해 빈 리스트 columnHead를 만들어줌
for i in range(0, len(columns)):
    eachColumns = columns[i]        # item 하나당 받은 태그의 내용을 eachColumns 변수에 넣어줌
    columnHead.append(eachColumns.name)  # eachColumns의 태그이름만을 columnHead에 추가해줌
homePriceSeoul.columns = columnHead # homePriceSeoul테이블의 columns
homePriceSeoul                      # 출력

In [1]:
# 혁중이 형이 짠 컬럼이름 정해주는 코드
# columnNameList = []
# for i in range(0, len(columns)):
#         eachColumn = columns[i]
#         columnNameList.append(eachColumn.name.strip())  # or text.strip() 공백제거
# housePriceData.columns = columnNameList
# housePriceData

# 금융 검색 후 “시도별 금융권 대출잔액 수준별 인구＂

In [2]:
import pandas as pd
#
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=ZDBkZjU4MzlkOWQ3MDAzYTZkZDdhYjBjZDM0ZDE0MTY=&format=json&jsonVD=Y&userStatsId=hdk2006/101/DT_1MA0028/2/1/20210412192956&prdSe=Y&newEstPrdCnt=1"
# 시도별 금융권 대출잔액 수준별 인구의 url을 변수로 지정
json = pd.DataFrame()
# DataFrame 형식으로 나타냄
try:
    json = pd.read_json(url)
# url의 자료를 json을 불러와서 나타냄
except Exception as e:
    print(e)
# 오류가 있다면 오류구문 출력
json
# 결과출력

,TBL_NM,ITM_NM_ENG,ITM_ID,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C2_OBJ_NM,C3_OBJ_NM,C2,C1_NM_ENG,...,C1_OBJ_NM_ENG,C2_OBJ_NM_ENG,C3_OBJ_NM_ENG,C3,DT,PRD_SE,C1,C1_NM,C2_NM,C3_NM
0,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,19979.1,A,0,전국,계,계
1,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11252.8,A,0,전국,계,부채있음
2,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL11,1853.3,A,0,전국,계,1천만원 미만
3,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL12,2471.0,A,0,전국,계,1-3천만원 미만
4,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL13,1369.2,A,0,전국,계,3-5천만원 미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL15,1.6,A,39,제주특별자치도,60-64세,7천만원-1억원 미만
1184,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL16,2.9,A,39,제주특별자치도,60-64세,1-2억원 미만
1185,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL17,1.0,A,39,제주특별자치도,60-64세,2-3억원 미만
1186,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,2.3,A,39,제주특별자치도,60-64세,3억원 이상
1187,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.3,A,39,제주특별자치도,60-64세,부채없음