In [19]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [20]:
indata = pd.read_csv("../dataset/kopo_decision_tree_all_new.csv")
indata.shape
indata.columns = indata.columns.str.lower()
indata.columns

Index(['regionid', 'productgroup', 'product', 'item', 'yearweek', 'year',
       'week', 'qty', 'holiday', 'hclus', 'promotion', 'pro_percent'],
      dtype='object')

In [21]:
targetDbIp = "127.0.0.1"
targetDbPort = "5432"
targetDbId = "postgres"
targetDbPw = "postgres"
targetDbName = "postgres"

In [22]:
targetDbPrefix = "postgresql+psycopg2://"

In [23]:
targetUrl = "{0}{1}:{2}@{3}:{4}/{5}".format(targetDbPrefix,
                                            targetDbId,
                                            targetDbPw,
                                            targetDbIp,
                                            targetDbPort,
                                            targetDbName)

In [24]:
tableName = "pgout_kopo_hdk"

In [25]:
# pip install d6tstack

In [26]:
import d6tstack

In [27]:
engine = create_engine(targetUrl)

In [28]:
indata.to_sql(name=tableName,
             con = pg_kopo_engine,
             if_exists="replace", index = False)

In [29]:
callDB=pd.read_sql(sql = "select * from pgout_kopo_hdk ", con = pg_kopo_engine)
callDB

      regionid productgroup product     item  yearweek  year  week  qty holiday  hclus promotion  pro_percent
0          A01         PG01     P01  ITEM001    201538  2015    38    1       N      4         N          0.0
1          A01         PG01     P01  ITEM001    201548  2015    48    1       Y      0         N          0.0
2          A01         PG01     P01  ITEM001    201549  2015    49    2       Y      0         N          0.0
3          A01         PG01     P01  ITEM002    201526  2015    26    1       Y      1         N          0.0
4          A01         PG01     P01  ITEM002    201532  2015    32    1       N      4         N          0.0
...        ...          ...     ...      ...       ...   ...   ...  ...     ...    ...       ...          ...
32410      A01         PG05     P16  ITEM491    201503  2015     3    1       N      4         N          0.0
32411      A01         PG05     P16  ITEM491    201504  2015     4    1       Y      2         N          0.0
32412      A01         PG05     P16  ITEM491    201505  2015     5    2       N      4         N          0.0
32413      A01         PG05     P16  ITEM491    201506  2015     6    1       N      4         N          0.0
32414      A01         PG05     P16  ITEM491    201508  2015     8    1       Y      1         N          0.0

[32415 rows x 12 columns]

In [30]:
tableName = "pgout_kopo_hdk"
try: 
        indata.to_sql(name=tableName,con = pg_kopo_engine, if_exists="replace",index =False)
        print("{} unload ì„±ê³µ!".format(tableName))
except Expection as e:
        print(e)

pgout_kopo_hdk unload ì„±ê³µ!

In [33]:
selloutData = pd.read_sql_query("select * from sfsaf", engine)

In [34]:
selloutData.head()

  regionid productgroup  yearweek  volume
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040

In [35]:
selloutData.columns = ["regionid","pg","yearweek","volume"]

In [38]:
resultname = "pgresult"
d6tstack.utils.pd_to_psql(df = selloutData, uri=targetUrl, table_name=resultname,if_exists="replace")

True