# 1. 라이브러리 선언하기

In [1]:
import pandas as pd
import numpy as np

# 2. 데이터 불러오기

In [5]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selloutData.describe() #숫자형 데이터에 대한 기본 통계량을 만들어줌
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

# [데이터타입통합]kopo_channel_seasonality_new.csv 파일을불러온후selloutData 변수에담으세요
# 이후QTY컬럼→실수(float), 이외컬럼→문자(str)로변경하세요

In [6]:
selloutDataType = selloutData.astype({"REGIONID":str, # 컬럼의 자료형을 원하는 형태로 바꿔줌
              "PRODUCT":str,
              "YEARWEEK":str,
                   "QTY":float})
selloutDataType.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [8]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

# [데이터타입 조회] kopo_customerdata.csv 파일을 불러온 후
# kopo_customerData 변수에 담으세요 이후 STATENAME, GENDER 컬럼 첫 5개행 조회하세요

In [22]:
kopo_customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
# csv파일을 kopo_customerData변수에 담음

findColumn = ['STATENAME', 'GENDER']
# 조회할 컬럼이름을 리스트로 정의

kopo_customerData.loc[0:4,findColumn]
# findColumn에 해당하는 컬럼에서 5개의 행만을 추출함

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

# [불량 데이터 처리]
# kopo_channel_seasonality_new.csv 자료를 담은 selloutData 변수에서 QTY컬럼 음수(반품)인 경우 0, 
# 양수인 경우 기존 QTY 값 유지하는 로직을 적용하여 QTY_NEW 컬럼을 추가하세요

In [90]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [92]:
selloutData["QTY_NEW"] = np.where(selloutData.QTY < 0, 0, selloutData.QTY)

In [93]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW
0           A60   PRODUCT4    201402     71.0     71.0
1           A60  PRODUCT59    201402  22275.0  22275.0
2           A60  PRODUCT34    201402   4463.0   4463.0
3           A60  PRODUCT47    201402      0.0      0.0
4           A60  PRODUCT56    201402     23.0     23.0
...         ...        ...       ...      ...      ...
124653      A10  PRODUCT60    201630    824.0    824.0
124654      A10  PRODUCT56    201630    275.0    275.0
124655      A10  PRODUCT61    201630      0.0      0.0
124656      A10  PRODUCT12    201630  15021.0  15021.0
124657      A10   PRODUCT1    201630    568.0    568.0

[124658 rows x 5 columns]

# [데이터 통합]
# selloutData 자료에서
# YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
# 데이터만 조회한 후 refinedSelloutData 변수에 담으세요

In [58]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY  YEAR  WEEK
0           A60   PRODUCT4    201402     71.0  2014     2
1           A60  PRODUCT59    201402  22275.0  2014     2
2           A60  PRODUCT34    201402   4463.0  2014     2
3           A60  PRODUCT47    201402      0.0  2014     2
4           A60  PRODUCT56    201402     23.0  2014     2
...         ...        ...       ...      ...   ...   ...
124653      A10  PRODUCT60    201630    824.0  2016    30
124654      A10  PRODUCT56    201630    275.0  2016    30
124655      A10  PRODUCT61    201630      0.0  2016    30
124656      A10  PRODUCT12    201630  15021.0  2016    30
124657      A10   PRODUCT1    201630    568.0  2016    30

[124658 rows x 6 columns]

In [59]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
YEAR          int64
WEEK          int64
dtype: object

In [73]:
# selloutData["YEAR"]=selloutData.YEARWEEK // 100
# selloutData["WEEK"]=selloutData.YEARWEEK % 100
# refinedSelloutData = selloutData.loc[selloutData.WEEK <= 52]
# refinedSelloutData

In [83]:
selloutData = selloutData.astype({"REGIONID":str, # 데이터프레임의 모든 열을 문자열로 바꿔줌
              "PRODUCT":str,
              "YEARWEEK":str,
              "QTY":float})
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
YEAR         object
WEEK         object
dtype: object

In [89]:
selloutData["YEAR"]=selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"]=selloutData.YEARWEEK.str[4:6]
refinedSelloutData = selloutData.loc[selloutData.WEEK.astype(int) <= 52]
refinedSelloutData

       REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0           A60   PRODUCT4   201402     71.0  2014   02
1           A60  PRODUCT59   201402  22275.0  2014   02
2           A60  PRODUCT34   201402   4463.0  2014   02
3           A60  PRODUCT47   201402      0.0  2014   02
4           A60  PRODUCT56   201402     23.0  2014   02
...         ...        ...      ...      ...   ...  ...
124653      A10  PRODUCT60   201630    824.0  2016   30
124654      A10  PRODUCT56   201630    275.0  2016   30
124655      A10  PRODUCT61   201630      0.0  2016   30
124656      A10  PRODUCT12   201630  15021.0  2016   30
124657      A10   PRODUCT1   201630    568.0  2016   30

[123864 rows x 6 columns]