In [2]:
a=3

In [3]:
type(a)

int

In [2]:
# 현재 시간과 분을 입력값으로 받아서 두개의 값을 더하는 연산을 수행하세요

In [3]:
now_hour = 17
now_minutes = 41

now = now_hour+now_minutes

now

58

In [4]:
import datetime as dt

In [6]:
dt.datetime.now()

datetime.datetime(2021, 3, 15, 14, 36, 0, 364844)

In [12]:
# pypi.org - 파이썬 패키지

In [13]:
currentDate=dt.datetime.now()

In [21]:
currentDate.hour

14

In [23]:
currentHour = currentDate.hour

In [24]:
currentDate.minute

42

In [25]:
currentMinute = currentDate.minute

In [26]:
sumCurrentTime=currentHour + currentMinute

In [27]:
sumCurrentTime

56

문자

In [28]:
firstLetter = "smart 'fintech' lecture"
firstLetter

"smart 'fintech' lecture"

In [34]:
inputVal1 = 1
inputVal2 = "1"

In [35]:
commnetMulti = 20
startFlag = "START"
endFlag = "END"

In [61]:
# 연, 주차 정보 길이 설정

YEARLEN = 4
WEEKLEN = 2

# 입력 데이터

inValue = "202103"

In [63]:
yearInfo = inValue[:YEARLEN]
yearInfo

'2021'

In [64]:
weekInfo = inValue[YEARLEN:]
weekInfo

'03'

In [66]:
yearWeek = "2017W28"
delimeter=yearWeek.index("W")
delimeter

4

In [72]:
letters = "led_TV"
upperLetters = letters.upper()
lowerLetters = letters.lower()
print(upperLetters)
print(lowerLetters)

LED_TV
led_tv

In [73]:
letterSplit = letters.split("_")
letterSplit

['led', 'TV']

In [76]:
strValue = "1234"
intValue = int(strValue)
type(intValue)

int

In [83]:
strValue = int(1234)
floatValue = float(strValue)
type(floatValue)

float

In [ ]:
strValue = "SEC 20180212 250"

In [163]:
strValue.index(" ")

3

In [123]:
# “SEC 20180212 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요


strValue = "SEC 20180212 250" # 문자열 값을 줌
splitter = " " # 문자열을 나누는 기준을 공백으로 설정
strValue.split(splitter) # 설정한 기준으로 문자열을 분리 
print(strValueSplit) # 분리된 문자열을 출력

stock_name = str(strValueSplit[0]) # 분리된 문자열의 첫번째 값을 변수에 담음
print(stock_name) # 분리된 문자열의 첫번째 값을 출력

date = str(strValueSplit[1]) # 분리된 문자열의 두번째 값을 변수에 담음
print(date) # 분리된 문자열의 두번째 값을 출력

value = str(strValueSplit[2]) # 분리된 문자열의 세번째 값을 변수에 담음
print(value) # 분리된 문자열의 세번째 값을 출력

['SEC', '20180212', '250']
SEC
20180212
250

In [124]:
# “Sec 2018W28 250”  문자열 생성 후 stock_name, date, value로 각각 의미하는
# 문자열을 생성하세요 (단 모두 대문자여야 하며, ‘W’를 삭제해야함)
# 예) targetValue = "Sec 2018W28 250"
# stock_name = ? 
# date =  ?
# value =  ?

targetValue = "Sec 2018W28 250" # 문자열 값을 줌
splitter = " " # 문자열을 나누는 기준을 공백으로 설정
targetValueSplit = targetValue.split(splitter) # 설정한 기준으로 문자열을 분리 
print(targetValueSplit) # 분리된 문자열을 출력

stock_name = str(targetValueSplit[0].upper()) # 분리된 문자열의 첫번째 값을 변수에 담고 대문자로 변경
print(stock_name) # 분리된 문자열의 첫번째 값을 출력

strDate = targetValueSplit[1] # 분리된 문자열의 두번째 값을 변수에 담음
repDate = strDate.replace("W"," ") # "W"를 공백으로 치환
date = str(repDate) # 치환한 데이터를 변수값에 담음
print(date) # 분리된 문자열의 두번째 값을 출력

value = str(targetValueSplit[2]) # 분리된 문자열의 세번째 값을 변수에 담음
print(value) # 분리된 문자열의 세번째 값을 출력

['Sec', '2018W28', '250']
SEC
2018 28
250

리스트

In [130]:
emptyList = []

In [131]:
type(empty)

list

In [132]:
priceList = [100, 150, 300, 1000]

In [150]:
max(priceList)
min(priceList)
sum(priceList)
len(priceList)
priceListAvg = sum(priceList) / len(priceList)
priceListAvg

387.5

In [159]:
stockList = [["sec","201801", 100],
            ["posco","201801",200]]

In [141]:
stockList[0]

['sec', '201801', 100]

In [151]:
stockList[1]=180
print(stockList)

[['sec', '201801', 100], 180]

In [152]:
initList = [100,200,300,400, 100,100]

In [153]:
# 인덱스 활용
initList[0]

100

In [155]:
print(sum(initList))
print(max(initList))
print(min(initList))
print(len(initList))

1000
400
100
4

In [158]:
initList.index(300)

2

In [164]:
# [120,150,300,500,1000,100,2000] 
# 값에서 최소 최대 값을 뺀 평균을
# average 이름의 변수에 담으세요

In [170]:
numList = [120,150,300,500,1000,100,2000] # 리스트의 값 할당
maxValue= numList.remove(max(numList)) # 최대값 삭제
minValue= numList.remove(min(numList)) # 최소값 삭제
print(numList) # 중간결과 확인

average = sum(numList) / len(numList) # average 변수에 평균 값 담기
print(average) # 최종결과 출력

[120, 150, 300, 500, 1000]

414.0

In [5]:
yearWeekValue = "2017w42"
yearWeekValue.split("w")[0]

'2017'

In [11]:
initList = [100,200,300,400,100,100]
lostList = initList.remove(100)
print(lostList)

None