# 두개의 테이블에서 “부대상납세자통합코드” 같은 경우에만 메인테이블의 “부대상납세자통합코드”를 
# 주납세자 통합코드로 변경한 컬럼을 생성한다
# (새로 생성한 컬럼명: new_sutatin 
# 메인테이블: joindata1
# 참조테이블: joindata2

In [20]:
import pandas as pd
import numpy as np

#join1 파일 불러오기
join1 = pd.read_csv("210607/joindata1.csv", encoding="utf8")
join1

#join2 파일 불러오기
join2 = pd.read_csv("210607/joindata2.csv", encoding="ms949")
join2

#suta_tin의 값이 같은 행만 조회되게끔 조인
join=pd.merge(left = join1, right = join2, on = 'suta_tin', how='inner')

#new_sutatin을 새로 만들어 mata_tin의 값을 넣어줌
join["new_sutatin"] = join1.mata_tin

join

,mata_tin_x,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin,suta_txpr_sex_cd,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd,new_sutatin
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,153101000000,납세자관계,99991231,10101,22,153601000000
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,153101000000,납세자관계,99991231,10101,32,154102000000